body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #F5FFFA;
    font-size: large;
}

main {
    flex: 1;
}

.search-form {
	max-width: 400px;
}

.card-img-top {
    height: 400px; 
    object-fit: cover;
}

.card-sold-out {
    background-color: #CCCCCC;
}

.img-greyed {
  filter: grayscale(90%);
}
