html, body {
  --s: 100px;
  --c1: #bdf5b2;
  --c2: #acc4a3;
  --c3: #55897c;
    
    height: 100%;

  background: 
    repeating-conic-gradient(#0000 0 25%,var(--c1) 0 50%)
    0 0/calc(2*var(--s)) var(--s),
    linear-gradient(-45deg,var(--c2) 33.3%,var(--c3) 0)
    0 0/var(--s) calc(var(--s)/2)
}

h3 {
    color: #fff;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    min-height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.95) !important;
}

.error-message {
    font-size: 0.875rem;
    color: #dc3545;
    margin-top: 5px;
}

.form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-bottom: 8px;
}

.input-group-prepend span {
    width: 50px;
    padding: 12px;
    background-color: #6f8a67;
    color: black;
    border: 0 !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.login_btn {
    color: black;
    width: 100px;
    margin-top: 40px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    color: #F5FFFA;
    margin-left: 4px;
}

.freepik-link {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.btn-login {
    background-color: #6f8a67;
    color: white;
}