<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/footer/footer.css">
    <title>Document</title>
</head>
<body>
    <footer th:fragment="footer" class="d-flex align-items-center">
      <div class="social me-auto">
        <a href="https://www.instagram.com/adryecleide_revendedoras/" th:onclick="fetch([[ @{/api/analytics/instagram} ]], {method: 'POST'})" target="_blank" rel="noopener noreferrer"><i class="insta fa-brands fa-instagram"></i></a>
        <a href="https://chat.whatsapp.com/J9nuRdoXIxI29xhki5it6m?s=cl&p=a&ilr=1&amv=1" th:onclick="fetch([[ @{/api/analytics/whatsapp} ]], {method: 'POST'})" target="_blank" rel="noopener noreferrer"><i class="whats fa-brands fa-whatsapp"></i></a>
      </div>
      <div>
        <img src="/footer/img/logo.svg" alt="">
      </div>
    </footer>
</body>
</html>